{% load static %}

<!DOCTYPE html>
<html lang="es">
	<head>
 		<meta charset="utf-8">
 		<title>W-Datum</title>
 		
 		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

 		<link href="{% static 'materialize/css/materialize.css' %}" rel="stylesheet" >
 		<link href="{% static 'styles.css' %}" rel="stylesheet" >

 		<script type="text/javascript" src="{% static 'jquery/jquery_v321.js' %}"></script>
		<script type="text/javascript" src="{% static 'materialize/js/materialize.js' %}"></script>
		

      	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      	  
      	<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDYesQ7NUr0wgcuvPI-E7t3PUhHqBoGXp4&callback=initMap"></script>

        <script type="text/javascript" src="{% static 'scripts.js' %}"></script>
 	</head>
 	<body >


			<ul id="dropdown1" class="dropdown-content">
				<li><a href="{% url 'crear_usuario' %}">Usuario</a></li>
				<li class="divider"></li>
				<li><a href="{% url 'crear_nacionalidad' %}">Nacionalidad</a></li>
				<li class="divider"></li>
				<li><a href="{% url 'crear_nivel_instruccion' %}">Nivel de Instrucción</a></li>
				<li class="divider"></li>
				<li><a href="{% url 'crear_regimen_tenencia' %}">Regimen de Tenencia</a></li>
                <li class="divider"></li>
				<li><a href="{% url 'crear_anio_construccion' %}">Año de Construcción</a></li>
                <li class="divider"></li>
				<li><a href="{% url 'crear_material_estructura' %}">Material de la Estructura</a></li>
                <li class="divider"></li>
				<li><a href="{% url 'crear_tipo_produccion' %}">Tipo de Producción</a></li>
                <li class="divider"></li>
				<li><a href="{% url 'crear_eleccion_cultivo' %}">Eleccion de Cultivo</a></li>
                <li class="divider"></li>
				<li><a href="{% url 'crear_tipo_cultivo' %}">Tipo de Cultivo</a></li>
                <li class="divider"></li>
				<li><a href="{% url 'crear_especie' %}">Especie</a></li>
                <li class="divider"></li>
				<li><a href="{% url 'crear_factor_climatico' %}">Factor Climático</a></li>
                <li class="divider"></li>
				<li><a href="{% url 'crear_triple_lavado' %}">Triple Lavado</a></li>
                <li class="divider"></li>
				<li><a href="{% url 'crear_asesoramiento' %}">Asesoramiento</a></li>
			</ul>
			<ul id="dropdown2" class="dropdown-content">
				<li><a href="{% url 'cambiar_password' %}">Cambiar contraseña</a></li>
				<li class="divider"></li>
				<li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
			</ul>
            <ul id="dropdown3" class="dropdown-content">
				<li><a href="{% url 'crear_usuario' %}">Usuario</a></li>
				<li class="divider"></li>
				<li><a href="{% url 'crear_nacionalidad' %}">Nacionalidad</a></li>
				<li class="divider"></li>
				<li><a href="{% url 'crear_nivel_instruccion' %}">Nivel de Instrucción</a></li>
				<li class="divider"></li>
				<li><a href="{% url 'crear_regimen_tenencia' %}">Regimen de Tenencia</a></li>
                <li class="divider"></li>
				<li><a href="{% url 'crear_anio_construccion' %}">Año de Construcción</a></li>
                <li class="divider"></li>
				<li><a href="{% url 'crear_material_estructura' %}">Material de la Estructura</a></li>
                <li class="divider"></li>
				<li><a href="{% url 'crear_tipo_produccion' %}">Tipo de Producción</a></li>
                <li class="divider"></li>
				<li><a href="{% url 'crear_eleccion_cultivo' %}">Eleccion de Cultivo</a></li>
                <li class="divider"></li>
				<li><a href="{% url 'crear_tipo_cultivo' %}">Tipo de Cultivo</a></li>
                <li class="divider"></li>
				<li><a href="{% url 'crear_especie' %}">Especie</a></li>
                <li class="divider"></li>
				<li><a href="{% url 'crear_factor_climatico' %}">Factor Climático</a></li>
                <li class="divider"></li>
				<li><a href="{% url 'crear_triple_lavado' %}">Triple Lavado</a></li>
                <li class="divider"></li>
				<li><a href="{% url 'crear_asesoramiento' %}">Asesoramiento</a></li>
			</ul>
			<ul id="dropdown4" class="dropdown-content">
				<li><a href="{% url 'cambiar_password' %}">Cambiar contraseña</a></li>
				<li class="divider"></li>
				<li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
			</ul>
	 		<nav>
			    <div class="nav-wrapper  light-green">
                    <div class="container">
                        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
			    		<img src="{% static 'img/logo_agro.png' %}" style="max-width: 55px; max-height: 55px">
			    		<a href="{% url 'principal' %}" class="brand-logo"> W-datum</a>
			    		{% if user.is_authenticated %}
			    		<ul class="right hide-on-med-and-down">
							<li><a href="{% url 'exportar_xls' %}">Exportar encuestas<i class="material-icons right">description</i></a></li>
				    		<li><a class="dropdown-button" href="#!" data-activates="dropdown1">Administración<i class="material-icons right">view_list</i></a></li>
			    			<li><a class="dropdown-button" href="#!" data-activates="dropdown2">Menú<i class="material-icons right">settings_applications</i></a></li>
			    		</ul>
                        <ul class="side-nav" id="mobile-demo">
                            <li><a href="{% url 'exportar_xls' %}">Exportar encuestas<i class="material-icons right">description</i></a></li>
				    		<li><a class="dropdown-button" href="#!" data-activates="dropdown3">Administración<i class="material-icons right">view_list</i></a></li>
			    			<li><a class="dropdown-button" href="#!" data-activates="dropdown4">Menú<i class="material-icons right">settings_applications</i></a></li>
                        </ul>
			    		{% endif %}
			        </div>
                </div>
			</nav>




 			{% block content %}


 			{% endblock %}

 	</body>
</html>



