{% extends "base.html" %}

{% block content %}
	<div class="background-color">
		<div class="section"></div>
		<center>
	      <div class="section"></div>
	      <h4 class="white-text">Iniciar sesión</h4>
	      <div class="section"></div>
	      <div class="container">
	        <div class="z-depth-1 white lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
	        	<form class="col s12" method="post" action=".">{% csrf_token %}
	            	<div class='row'>
	              		<div class='col s12'></div>
	            	</div>
	            	<div class='row'>
	              		<div class='input-field col s12'>
	              			{{form.password_actual}}
	                		<label for='email'>Ingrese password actual</label>
	              		</div>
	            	</div>
	            	<div class='row'>
	              		<div class='input-field col s12'>
	              			{{form.nuevo_password}}
	                		<label for='email'>Ingrese un nuevo password</label>
	              		</div>
	            	</div>
	            	<div class='row'>
	              		<div class='input-field col s12'>
	              			{{form.confirmar_password}}
	                		<label for='email'>Confirme su nuevo password</label>
	              		</div>
	            	</div>
	            	
					<br />
					<div class="col s3"></div>		
						<div class='row'>
							<button class="col s6 btn waves-effect light-green" type="submit" name="action">Actualizar password<i class="material-icons right">autorenew</i>
							</button>		
							
						</div>
						<div class="col s3"></div>
	            
				</form>
					</div>
			</div>
		</center>
		<div class="section"></div>
		<div class="section"></div>
	</div>
{% endblock %}