{% extends "base.html" %}

{% block content %}

<div class="container">
	<div class="col s12">

	</div>

	<div class="col s12">

		{% if messages %}
		<script>
            {% for message in messages %}
                $(document).ready(function(){
                    Materialize.toast("{{ message }}", 4000);
                  });
            {% endfor %}
		</script>
		{%endif%}

		<h3>Crear Usuario</h3>
		<div class="row">
			<div class="col s12">
				<form action="" method="POST">{% csrf_token %}
					<div class="input-field col s6">
						<div class="input-field col s12">
        					{{form.username}}
        					<label for="email">Email</label>
        				</div>
      					
      					<div class="input-field col s12">
        					{{form.first_name}}	
        					<label for="first_name">Nombre</label>
        				</div>
        				<div class="input-field col s12">
        					{{form.last_name}}
        					<label for="last_name">Apellido</label>
        				</div>
        				<div class="input-field col s12">
        					{{form.dni}}
        					<label for="last_name">D.N.I. Nro.</label>
        				</div>
        				<div class="input-field col s12">
							{{form.rol}}
	    					<label>Seleccione el rol de usuario</label>
						</div>
						<div>
							<button class="btn waves-effect light-green" type="submit" name="action">Crear 	Nuevo<i class="material-icons right">add</i>
							</button>		
						</div>
  					</div>
	  			</form>	<br>
    		</div>
    	</div>
    	<div class="row">
    		{% if lista %}
    		<table class="highlight bordered responsive-table">
	        	<thead>
		          	<tr>
		              	<th>Id</th>
		              	<th>Usuario</th>
		              	<th>Nombre</th>
		              	<th>Apellido</th>
		              	<th>Es activo</th>
		              	<th>Rol</th>
		            	<th>Acciones</th>
		            </tr>
	        	</thead>
		        <tbody>
	     			{% for elemento in lista %}     
			          	<tr>
			            	<td>{{elemento.id}}</td>
			            	<td>{{elemento.username}}</td>
			            	<td>{{elemento.first_name}}</td>
			            	<td>{{elemento.last_name}}</td>
			               	<td>
				               	{% if elemento.is_active %}		
				               		<i class="material-icons">check</i>
				               	{% else %}
				               		<i class="material-icons">clear</i>
				               	{% endif %}	
			                </td>
			               	<td>{{elemento.rol}}</td>
			               	<td>

								{% if elemento.is_active %}
			            		<a href="{% url 'editar_usuario' elemento.id %}"><i class="material-icons">edit</i> </a>
			                	{% else %}
								<a href="{% url 'activar_usuario' elemento.id %}"><i class="material-icons">check</i> </a>
								{% endif %}

			                	<a href="{% url 'borrar_usuario' elemento.id %}"> <i class="material-icons">delete</i></a>
			            	</td>
			          	</tr>
	          		{% endfor %}
	        	</tbody>
	      	</table>
      		{% endif %}
    	</div>
   	</div>
</div>
{% endblock %}

