{% extends "base.html" %}

{% block content %}

<div class="container">
	<div class="col s12">
		<h3>Lista de establecimientos encuestados</h3>

		 
		{% if lista %}
    	<div class="tabla">
		<table class="highlight bordered responsive-table">
	        <thead>
	          	<tr>
	          		<th>Imagen</th>
	              	<th>Encuesta N°</th>
                    <th>Fecha</th>
					<th>Establecimiento</th>
	              	<th>Encuestado</th>
					<th>Encuestador</th>
	          	</tr>
	        </thead>
	        <tbody>
     			{% for elemento in lista %}
		          	<tr>
		          		<td><img src="{{elemento.establecimiento.foto}}" width="70" ></td>
		            	<td>{{elemento.id}}</td>
		            	<td>{{elemento.fecha}}</td>
		            	<td>{{elemento.establecimiento.nombre}}</td>
						<td>{{elemento.encuestado.apellido}}, {{elemento.encuestado.nombre}} </td>
						<td>{{elemento.usuario.last_name}}, {{elemento.usuario.first_name}}</td>
		          	</tr>
          		{% endfor %}
        	</tbody>
      	</table>
		</div>
		<br>


		<a class="btn waves-effect light-green" style="align:right;" href="{% url 'exportar_xls' %}">Exportar encuestas<i class="material-icons right">description</i></a>

		{% else %}
			<div class="collapsible-header">
				<i class="medium material-icons">error</i> No se encontraron datos. 
			</div>
      	{% endif %}
    </div>
</div>



{% endblock %}